@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --verde-50: #f2fbf6;
    --verde-100: #dcf7ea;
    --verde-200: #bff0cf;
    --verde-300: #86e4a1;
    --verde-400: #4fd67a;
    --verde-500: #18b65b;
    --verde-600: #0e8f44;
    --verde-700: #055130;
    --verde-800: #084f28;
    --verde-900: #06361a;
    --primary: #055130;
}


.inputBox
{
    position: relative;
    width: 100%;
    padding: 0%;
   
}


.inputBox input,
.inputBox select
{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(5, 78, 31, 0.664);
    background: #070a0e;
    border-radius: 5px;
    outline: none;
    color: aliceblue;
    font-size: 1em;
    transition: 0.5s;
}

.inputBox span
{
    position: absolute;
    left: 5px;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.938);
    text-transform: uppercase;
    transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:read-only ~ span,
.inputBox select:valid ~ span,
.inputBox input:focus ~ span
{
    color: #055130;
    padding: 2.5px;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #070a0e;
    border-left: 1px solid #055130;
    border-right: 1px solid #055130;
    letter-spacing: 0.2em;
}

.inputBox input:valid,
.inputBox input:focus 
{
    border: 2px solid #055130;
}
